h1 {
  font-family: $font-header;
  font-weight: $font-black;
  font-size: 27px;

}

h2 {
  font-family: $font-header;
  font-weight: $font-black;
  font-size: 13px;
}

h3 {
  font-family: $font-header;
  font-weight: $font-bold;
  font-size: 75px;
}