/* VARIABLES */
$color-one: #bea67c;
$color-two: #FFF;
$color-three: #000;

$font-header: 'Source Sans Pro', sans-serif;

$font-bold-italic: 700;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$transition: all 1s;